:root{
    --nav-height:80px;
}
body{
    background-color: aqua;
}

img{
    max-width: 100%;
}
/* costuom */
.custom_card-bg{
    background-color: transparent;
    border: 0;
}

.custom_card-p{
    padding: 0;
}

.custom_pt{
    padding-top: 6em;
}
/* jumbotron */

#jumbotron-top,
#jumbotron-bottom{
    width: 100%;
    height: 400px;
    /* debug */
    background-color: beige;
}

