:root{
    /* size */
    --nav-height:80px;
    --logo-header-height:50px;
    --logo-sony-header-width:100px;
    --jumbo-heigh:450px;

    /* color */
    --cta-btn-bg:#363636;
    --btn-download:#CD3D0F;
    --bg-plus:#BEBCBB;
    --bg-now:#161C3B;
    --bg-footer:#00439C;
}

img{
    width: 100%;
}

ul li{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}


/* color bg */

.cl-black{
    color: black;
}

.cl-white{
    color: white;
}

.bg-plus{
    background-color: var(--bg-plus);
}

.bg-now{
    background-color: var(--bg-now);
}

.bg-footer{
    background-color: var(--bg-footer);
}
/* button */

.btn.btn-primary.custom_cta{
    background-color:var(--cta-btn-bg) ;
    border: none;
    font-weight: 700;
}

.btn.custom_button-download{
    background-color: var(--btn-download);
    color: white;
    border: none;
}



/* customm */

.custom_py{
    padding: 4rem 0;
}

.custom_pt-jumbo{
    padding-top: 10rem;
    
}


.custom_card-bg{
    background-color: transparent; /*da inserire in card*/
    border: 0;
}

.custom_card-p{    /*da inserire in card-box*/
    padding: 0; 
}

/* .custom_jumbo-col{
    padding: 4em 0 2em 0;
} */

.custom_nav-link{
    color: black;
    font-weight: 700;
}

.custom_nav-link::after{
    color: var(--bs-nav-link-color);
}

/* header */

#logo-header{
    height: var(--logo-header-height);
    background-color: black;
}

#logo-header img{
    width: var(--logo-sony-header-width);
}


/* jumbotron */

#jumbotron-top,
#jumbotron-bottom{
    width: 100%;
    min-height: var(--jumbo-heigh);
    background-size: cover;
    background-position: top;
    background-color: blue;
}

#jumbotron-top{
    background-image: url(../img/jumbo-bg.png);
}

#jumbotron-bottom{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

/* ps5-section */


.ps5-card img{
    opacity: 25%;
}

.ps5-card:hover{
    border-bottom: 8px lightskyblue solid;
}

.ps5-card:hover img{
    opacity: 100%;
}

.ps5-card:hover p{
    font-weight: 600;
    color: black;
}






/* footer */

.footer-top img,
.footer-bottom img{
    width: 60px;
}
