
:root{
    /* size */
    --nav-height:80px;
    --logo-header-height:50px;
    --logo-sony-header-width:100px;
    --jumbo-heigh:450px;

    /* color */
    --cta-btn-bg:#363636;
    --btn-download:#CD3D0F;
    --btn-primary:#2D64E6;
    --btn-plus:#D9DADC;
    --bg-plus:#BEBCBB;
    --bg-now:#161C3B;
    --bg-footer:#00439C;
}

img{
    width: 100%;
}

ul li{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}


/* color bg */

.cl-black{
    color: black;
}

.cl-white{
    color: white;
}

.bg-plus{
    background-color: var(--bg-plus);
}

.bg-now{
    background-color: var(--bg-now);
}

.bg-footer{
    background-color: var(--bg-footer);
}
/* custom button */
.custom_btn{
    display: inline-block;
    padding: .4rem .9rem;
    border-radius: 1.2rem;
    text-decoration: none;
    transition: all 1s;
}

.jumbo-btn{
    background-color: var(--btn-download);
}

.primary-btn{
    background-color: var(--btn-primary);
    color: white;
}


.plus-btn{
    background-color: var(--btn-plus);
    color: blue;
}

.now-btn{
   background-color: white; 
   color:black;
}

.custom_btn:hover{
    filter: brightness(110%);
    outline: 3px rgba(0, 0, 0, 0.311) groove;
    
}

.custom_btn.now-btn:hover{
    filter: invert(100%);
    color: initial;
    
}

.custom_btn.primary-btn:hover{
    color: white;
}

/* .btn.btn-primary.custom_cta{
    background-color:var(--cta-btn-bg) ;
    border: none;
    font-weight: 700;
}

.btn.custom_button-download{
    background-color: var(--btn-download);
    color: white;
    border: none;
} */



/* customm */

.custom_py{
    padding: 4rem 0;
}

.custom_pt-jumbo{
    padding-top: 10rem;
    
}

/* custom navbar */
.custom_nav-link{
    color: black;
    font-weight: 700;
}

.custom_nav-link::after{
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    color: var(--bs-nav-link-color);
    border:none;
}

.chevron::after{
    font-family: "Font Awesome 5 Free"; 
    content: "\f077";
}

/* dropdown navbar bonus*/


.hidden{
    width:100%;
    height: 250px;
    background-color: white;
    border-top: 1px solid rgba(0, 0, 0, 0.177);
    
    display: none;
}

.hidden ul li {
    list-style:circle;
}

.hidden figure:hover{
    outline: 1px rgba(0, 0, 0, 0.382) solid;
}


@media screen and (min-width:960px){
    #navigation > .container-fluid:hover  .hidden{
        display: block;
    }
    #navigation > .container-fluid:hover .chevron:first-child:after{
        content: "\f078";
    }

}


/* .hidden img{
    width: 100px;
} */

/* .flexer{
    display: flex;
}
nav li:hover .hidden{
    display: block;
} */



/* header */

#logo-header{
    height: var(--logo-header-height);
    background-color: black;
}

#logo-header img{
    width: var(--logo-sony-header-width);
}

/* navbar */

nav ul{
   align-items: center;
}



/* jumbotron */

#jumbotron-top,
#jumbotron-bottom{
    width: 100%;
    min-height: var(--jumbo-heigh);
    background-size: cover;
    background-position: top;
    background-color: blue;
}

#jumbotron-top{
    background-image: url(../img/jumbo-bg.png);
}

#jumbotron-bottom{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

/* games-section */


.games-card{
    transition: all 1s;
    border-radius: 15px;
    overflow-x: hidden;
}

.games-card-current img{
    border-radius: 15px;
    outline: 2px blue solid;
    padding: .1em;
}

.games-card:hover{
    transform: translatey(-10%);
}


/* ps5-section */


.ps5-card img{
    opacity: 25%;
}

.ps5-card:hover{
    border-bottom: 8px lightskyblue solid;
    margin-bottom: -1px;
}

.ps5-card:hover img{
    opacity: 100%;
}

.ps5-card:hover p{
    font-weight: 600;
    color: black;
}

/* footer */

.footer-top img,
.footer-bottom img{
    width: 60px;
}
