:root{
    /* size */
    --nav-height:80px;
    --logo-header-height:50px;
    --logo-sony-header-width:100px;
    --jumbo-heigh:450px;

    /* color */
    --cta-btn-bg:#363636;
    --btn-download:#CD3D0F;
}

img{
    width: 100%;
}

/* color bg */

.cl-black{
    color: black;
}

.cl-white{
    color: white;
}



/* button */

.btn.btn-primary.custom_cta{
    background-color:var(--cta-btn-bg) ;
    border: none;
    font-weight: 700;
}

.btn.custom_button-download{
    background-color: var(--btn-download);
    color: white;
    border: none;
}



/* customm */

.custom_py{
    padding: 2em 0;
}
.custom_card-bg{
    background-color: transparent; /*da inserire in card*/
    border: 0;
}

.custom_card-p{    /*da inserire in card-box*/
    padding: 0; 
}

/* .custom_jumbo-col{
    padding: 4em 0 2em 0;
} */

.custom_nav-link{
    color: black;
    font-weight: 700;
}

.custom_nav-link::after{
    color: var(--bs-nav-link-color);
}

/* header */

#logo-header{
    height: var(--logo-header-height);
    background-color: black;
}

#logo-header img{
    width: var(--logo-sony-header-width);
}


/* jumbotron */

#jumbotron-top,
#jumbotron-bottom{
    width: 100%;
    min-height: var(--jumbo-heigh);
    background-size: cover;
    background-position: center;
    background-color: blue;
}

#jumbotron-top{
    background-image: url(../img/jumbo-bg.png);
}

#jumbotron-bottom{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}



